#signup_page {
	visibility: hidden;
	left: 300px;
	height:98%;
	width:20.9%;
	float: right;
}
#signup_page_margin{
	position: fixed;
	width:20%;
	margin: 2px;
	height:99.2%;
	background-color: #00BFFF;
	border-radius: 10px;
}
label{
	font-family:icon;
}
#signup_input_block {
	margin:auto;
	width: 90%;
	padding-top: 200px;
}
#signup_input_block input[type="text"],
#signup_input_block input[type="email"],
#signup_input_block input[type="password"] {
  padding: 7px 5px;
  margin: 10px 0;
  width: 96%;
  display: block;
  font-size: 18px;
  border-radius: 5px;
}
#signup_input_block input[type="submit"] {
  background: #7369A7;
  padding: 10px;
  font-size: 20px;
  display: block;
  width: 102%;
  border: none;
  color: #ffffff;
  border-radius: 5px;
  font-family: arial;
}
#signup_input_block input[type="submit"]:hover {
  background-color: #61aD61;
  font-weight: bolder;
}
#signup_close_btn {
	font-family: icon;
	float: right;
	font-size: 18px;
	margin: 5px;
}
#signup_close_btn a {
	text-decoration: none;
	color: red;
}